USE [master]
GO
/****** Object:  Database [companyBD]    Script Date: 13.06.2023 1:43:16 ******/
CREATE DATABASE [companyBD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'companyBD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\companyBD.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'companyBD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\companyBD_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [companyBD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [companyBD]
GO
/****** Object:  Table [dbo].[Иждивенец]    Script Date: 13.06.2023 1:43:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Иждивенец](
	[Id] [int] NOT NULL,
	[Имя] [nchar](10) NOT NULL,
	[Дата рождения] [nchar](10) NOT NULL,
	[Отношения с сотрудником] [nchar](10) NOT NULL,
 CONSTRAINT [PK_Иждивенец] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Отдел]    Script Date: 13.06.2023 1:43:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Отдел](
	[Id] [int] NOT NULL,
	[Наименование] [nchar](10) NOT NULL,
	[Местонахождение] [nchar](10) NOT NULL,
	[Сотрудник руководитель] [int] NOT NULL,
 CONSTRAINT [PK_Отдел] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Проект]    Script Date: 13.06.2023 1:43:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Проект](
	[Уникальный номер] [int] NOT NULL,
	[Уникальное имя] [nchar](10) NOT NULL,
	[Бюджет] [int] NOT NULL,
 CONSTRAINT [PK_Проект] PRIMARY KEY CLUSTERED 
(
	[Уникальный номер] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Сотрудник]    Script Date: 13.06.2023 1:43:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Сотрудник](
	[Имя] [nchar](10) NOT NULL,
	[id] [int] NOT NULL,
	[Адрес] [nchar](10) NOT NULL,
	[Зарплата] [int] NOT NULL,
	[Дата рождения] [nchar](10) NOT NULL,
	[Дата начала работы с проектом] [nchar](10) NOT NULL,
	[Непосредственный руководитель] [nchar](10) NOT NULL,
 CONSTRAINT [PK_Сотрудник] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Иждивенец]  WITH CHECK ADD  CONSTRAINT [FK_Иждивенец_Сотрудник] FOREIGN KEY([Id])
REFERENCES [dbo].[Сотрудник] ([id])
GO
ALTER TABLE [dbo].[Иждивенец] CHECK CONSTRAINT [FK_Иждивенец_Сотрудник]
GO
ALTER TABLE [dbo].[Проект]  WITH CHECK ADD  CONSTRAINT [FK_Проект_Отдел] FOREIGN KEY([Уникальный номер])
REFERENCES [dbo].[Отдел] ([Id])
GO
ALTER TABLE [dbo].[Проект] CHECK CONSTRAINT [FK_Проект_Отдел]
GO
ALTER TABLE [dbo].[Проект]  WITH CHECK ADD  CONSTRAINT [FK_Проект_Сотрудник] FOREIGN KEY([Уникальный номер])
REFERENCES [dbo].[Сотрудник] ([id])
GO
ALTER TABLE [dbo].[Проект] CHECK CONSTRAINT [FK_Проект_Сотрудник]
GO
ALTER TABLE [dbo].[Сотрудник]  WITH CHECK ADD  CONSTRAINT [FK_Сотрудник_Отдел] FOREIGN KEY([id])
REFERENCES [dbo].[Отдел] ([Id])
GO
ALTER TABLE [dbo].[Сотрудник] CHECK CONSTRAINT [FK_Сотрудник_Отдел]
GO
USE [master]
GO
